<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-lg-3 col-xs-4">
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="assets/img//user4-128x128.jpg" alt="User profile picture">
          <h3 class="profile-username text-center">{{ TenShopDetail }}</h3>
          <!-- <p class="text-muted text-center">Software Engineer</p> -->

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Địa chỉ:</b>
              <a class="pull-right">{{ DiaChiDetail }}</a>
            </li>
            <li class="list-group-item">
              <b>SĐT:</b>
              <a class="pull-right">{{ SDTDetail }}</a>
            </li>
            <li class="list-group-item">
              <b>Email:</b>
              <a class="pull-right">{{ EmailDetail }}</a>
            </li>
            <li class="list-group-item">
              <b>Độ tin cậy:</b>
              <a class="pull-right">{{ DoTinCayDetail }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Danh sách loại sản phẩm cua shop</h3>
        </div>
        <div class="box-body">
          <button routerLink="/nguoidung/kenhcuashop/{{idShop}}/home/{{idShop}}" class="btn btn-default btn-block">Tất cả</button>
        </div>
        <div class="box-body" *ngFor="let item of loaiSanPhamListForTrueProperty">
          <button routerLink="/nguoidung/kenhcuashop/{{idShop}}/loaisanpham/{{ item.IdLoaiSanPham }}" class="btn btn-default btn-block">{{ item.TenLoaiSanPham }}</button>
        </div>
      </div>

    </div>

    <div class="col-lg-9 col-xs-8" style="overflow:auto; height:727px;">
      <router-outlet></router-outlet>
    </div>


  </div>

</section>