<style>
  .col-lg-12.col-xs-12 {
    border-top: 1px solid;
  }

  .col-lg-4.col-xs-4 {
    
    border-top: 1px solid;
  }

  .cannang {
    border-left: 1px solid;
  }
  .tinhtrang {
    border-left: 1px solid;
  }
</style>


<section class="content">
  <div class="col-lg-12">
    <div class="cardTuLamIndex">
      <div class="box">
        <div class="box-header with-border">
          <h2 class="box-title">Bảng theo dõi thú cưng</h2>
        </div>
        <!-- /.box-header -->
        <div class="col-lg-12">
          <div class="col-lg-4 col-xs-4">
            <h3>Thông tin thú cưng</h3>
            <div class="form-horizontal">
              <div class="form-group">
                <div class="col-md-12">
                  <label>Tên thú cưng: </label>
                  {{ TenThuongGoiDetail }}
                </div>
              </div>
            </div>
            <div class="form-horizontal">
              <div class="form-group">
                <div class="col-md-12">
                  <label>Loại giống: </label>
                  {{ TenGiongThuCungDetail }}
                </div>
              </div>
            </div>
            <div class="form-horizontal">
              <div class="form-group">
                <div class="col-md-12">
                  <label>Ngày nuôi: </label>
                  {{ NgayNuoiDetail | date: "yyyy-MM-dd"}}
                </div>
              </div>
            </div>
            <button class="btn">Liên Hệ</button>
          </div>
          <div class="col-lg-4 col-xs-4 cannang">
            <h3>Cân nặng thú cưng</h3>
            <div class="box-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Số cân</th>
                    <th>Ngày</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of canNangService.listcanNangWithIdThuCung | paginate: { itemsPerPage: 5, currentPage: p1, id: 'first' }">
                  <tr>
                    <td>
                      {{ item.CanNang1 }}
                    </td>
                    <td>
                      {{ item.NgayCapNhat | date: "dd-MM-yyyy" }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="p1 =$event" id="first"></pagination-controls>
            </div>
          </div>
          <div class="col-lg-4 col-xs-4 tinhtrang">
            <h3>Tình trạng thú cưng</h3>
            <div class="box-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Ngày cập nhật</th>
                    <th>Tùy chọn</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of tinhTrangService.listtinhTrangWithIdThuCung | paginate: { itemsPerPage: 5, currentPage: p2, id: 'second' }">
                  <tr>
                    <td>
                      {{ item.NgayCapNhat | date: "dd-MM-yyyy"}}
                    </td>
                    <td>
                      <button class="btn btn-warning btn-rounded m-b-12 m-l-5" (click)="XemThongTinTinhTrang(item.IdTinhTrang)" data-toggle="modal"
                        data-target="#TinhTrangDetalModal">Xem</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="p2 =$event" id="second"></pagination-controls>
            </div>
          </div>
          <hr>
          <br>
          <div class="col-lg-12 col-xs-12">
            <h3>Lịch sử khám bệnh</h3>
            <div>
              <button data-toggle="modal" data-target="#lichSuAddDetalModal" class="btn btn-success">Thêm lần khám</button>
            </div>
            <div class="box-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Ngày khám</th>
                    <th>Tình trạng bệnh</th>
                    <th>Xem thêm</th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of lichSuKhamDetail | paginate: { itemsPerPage: 5, currentPage: p3, id: 'third' }">
                  <tr>
                    <td>
                      {{ item.NgayThang | date: "dd-MM-yyyy"}}
                    </td>
                    <td>
                      {{ item.TinhTrangBenh }}
                    </td>
                    <td>
                      <button class="btn btn-warning btn-rounded m-b-12 m-l-5" (click)="xemLichSuKham(item.IdLichSuKham)" data-toggle="modal" data-target="#lichSuDetailDetalModal">Xem</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="p3 =$event" id="third"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="modal fade" id="TinhTrangDetalModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <label id="title">Thông tin chi tiết tình trạng thú cưng</label>
        </h4>
      </div>
      <div class="modal-body">

        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-md-12">
              <label>Hình ảnh: </label>
              <br>
              <img [src]="hinhAnhDetail" style="width:350px;height:250px; border-radius: 12px; margin-left: 120px">
            </div>
          </div>
        </div>

        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-md-12">
              <label>Nội dung tình trạng: </label>
              {{noiDungTinhTrangDetail}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="lichSuAddDetalModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <label id="title">Them lich su kham thú cưng</label>
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" [formGroup]="lichSuKhamAddForm" (ngSubmit)="lichSuKhamAddSubmitForm()">
          <div class="box-body">

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">Tình trạng bệnh</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="TinhTrangBenh" placeholder="tinh trang benh">
                <p *ngIf="lichSuKhamAddForm.get('TinhTrangBenh').invalid && lichSuKhamAddForm.get('TinhTrangBenh').touched">Required</p>
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">Lời Nhắn</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="LoiNhan" placeholder="loi nhan">
                <p *ngIf="lichSuKhamAddForm.get('LoiNhan').invalid && lichSuKhamAddForm.get('LoiNhan').touched">Required</p>
              </div>
            </div>

          </div>
          <div class="box-footer">
            <button type="submit" [disabled]="lichSuKhamAddForm.invalid" class="btn btn-info pull-right">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="lichSuDetailDetalModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <label id="title">Thông tin lich su kham thú cưng</label>
        </h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-md-12 center-block">
              <label>Tình trạng bệnh: </label>
              {{ tinhTrangBenh }}
            </div>
          </div>
        </div>
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-md-12 center-block">
              <label>Ngày thăm khám: </label>
              {{ ngayTham }}
            </div>
          </div>
        </div>
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-md-12 center-block">
              <label>Lời nhắn bác sĩ: </label>
              {{ loiNhan }}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>