<!-- Main content -->
<section class="content">

  <div class="row">
    
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-aqua">
        <div class="inner">
          <p>5 sản phẩm bán chạy trong ngày</p>
        </div>
        <a routerLink="/shop/thongkebaocao/5sanphammaxngay" class="small-box-footer">More info
          <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <p>10 sản phẩm bán chạy trong tháng</p>
        </div>
        <a routerLink="/shop/thongkebaocao/10sanphammaxthang" class="small-box-footer">More info
          <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-yellow">
        <div class="inner">
          <p>Hóa đơn theo tháng</p>
        </div>
        <a routerLink="/shop/thongkebaocao/hoadontheothang" class="small-box-footer">More info
          <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-red">
        <div class="inner">
          <p>Hóa đơn theo khoảng tháng</p>
        </div>
        <a routerLink="/shop/thongkebaocao/hoadontheokhoangthang" class="small-box-footer">More info
          <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>

</section>
<!-- /.content -->