<!-- Main content -->
<section class="content">

    <div class="col-lg-12">
      <div class="cardTuLamIndex">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Danh sách đơn hàng</h3>
          </div>
          <br>
          <!-- /.box-header -->
          <div class="box-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Ngày tao hóa đơn</th>
                  <th>Trạng thái</th>
                  <th>Tùy chọn</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of hoaDonService.hoaDonListProperty | paginate: { itemsPerPage: 5, currentPage: p }">
                <tr>
                  <td>
                    {{ item.NgayLapHoaDon | date: "yyyy-MM-dd"}}
                  </td>
                  <td>
                    {{ item.TrangThai }}
                  </td>
                  <td>
                    <button class="btn btn-warning btn-rounded m-b-10 m-l-5" routerLink="/shop/hoadon/view/{{ item.IdHoaDon }}">Xem chi tiết</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p =$event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>

  </section>