<!-- Main content -->
<section class="content">
  <div class="col-lg-12">
      <div class="box box-primary">
          <div class="box-title">
              <div class="box-header with-border">
                  <h3 class="box-title">Thay đổi mật khẩu</h3>
              </div>
              <form [formGroup]="ChangePassForm" (ngSubmit)="ChangePassSubmitForm()" class="form-horizontal" role="form">
  
                <div class="form-group">
                  <label class="col-lg-3 control-label">Tên đăng nhập:</label>
                  <div class="col-lg-7">
                    <input class="form-control" type="text" formControlName="UserName">
                  </div>
                </div>
  
                <div class="form-group">
                  <label class="col-lg-3 control-label">Mật khẩu củ:</label>
                  <div class="col-lg-7">
                    <input class="form-control" type="text" formControlName="PassOld">
                  </div>
                </div>
  
                <div class="form-group">
                  <label class="col-lg-3 control-label">Mật khẩu mới:</label>
                  <div class="col-lg-7">
                    <input class="form-control" type="text" formControlName="PassNew">
                  </div>
                </div>
  
                <div class="form-group">
                  <label class="col-md-3 control-label"></label>
                  <div class="col-md-7">
                    <input type="submit" [disabled]="ChangePassForm.invalid" class="btn btn-primary" value="Save Changes">
                  </div>
                </div>
              </form>
              <br>
          </div>
      </div>
  </div>
</section>