<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-lg-2 col-xs-3">

      <div class="box">
        <div id="menu" class="box-header with-border">
          <h4 class="box-title">
            <a routerLink="/nguoidung/home">
              <i class="fa fa-link"></i>
              <span>Trang Chủ</span>
            </a>
          </h4>
        </div>
        <div id="menu" class="box-header with-border">
          <h4 class="box-title">
            <a routerLink="/nguoidung/thucungnguoidung/home">
              <i class="fa fa-link"></i>
              <span>Thú cưng của bạn</span>
            </a>
          </h4>
        </div>
        <div id="menu" class="box-header with-border">
          <h4 class="box-title">
            <a routerLink="/nguoidung/kenhnguoiban">
              <i class="fa fa-link"></i>
              <span>Mua sản phẩm</span>
            </a>
          </h4>
        </div>
        <div id="menu" class="box-header with-border">
          <h4 class="box-title">
            <a routerLink="/nguoidung/kenhnguoiban/dangkybanhang">
              <i class="fa fa-link"></i>
              <span>Đăng kí bán hàng</span>
            </a>
          </h4>
        </div>
      </div>



      <!-- <ul class="sidebar-menu">
        <li class="">
          <a routerLink="/nguoidung/home">
            <i class="fa fa-link"></i>
            <span>Trang Chủ</span>
          </a>
        </li>
        <li class="">
          <a routerLink="/nguoidung/thucungnguoidung/home/1">
            <i class="fa fa-link"></i>
            <span>Thú cưng của bạn</span>
          </a>
        </li>
        <li class="">
          <a routerLink="/nguoidung/kenhnguoiban">
            <i class="fa fa-link"></i>
            <span>Mua sản phẩm</span>
          </a>
        </li>
        <li class="">
          <a routerLink="/nguoidung/kenhnguoiban/dangkybanhang">
            <i class="fa fa-link"></i>
            <span>Đăng kí bán hàng</span>
          </a>
        </li>
      </ul> -->

    </div>

    <div class="col-lg-8 col-xs-6">
      <router-outlet></router-outlet>
    </div>

    <div class="col-lg-2 col-xs-3" style="overflow:auto; height:624px;">

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Danh sách các shop</h3>
        </div>
        <div class="box-body" *ngFor="let item of shopService.shopListForTrueProperty">
          <button routerLink="/nguoidung/kenhcuashop/{{ item.IdShop }}/home/{{ item.IdShop }}" class="btn btn-default btn-block">{{ item.TenShop }}</button>
          <button class="btn btn-default btn-block">Tên shop số 1</button>
          <button class="btn btn-default btn-block">Tên shop số 1</button>
          <button class="btn btn-default btn-block">Tên shop số 1</button>
          <button class="btn btn-default btn-block">Tên shop số 1</button>
          <button class="btn btn-default btn-block">Tên shop số 1</button>
        </div>
      </div>

    </div>
  </div>

</section>
<!-- /.content -->